* {
  box-sizing: border-box;
}

.navbar{
  color: white;
  border: 1px solid rgb(73, 72, 77);
  padding: 20px 40 px;
  background-color: rgb(73, 72, 77);
  
}

.navbar>ul {
  display: none;
}

.navbar>li {
  display: none;
}

li:hover{
  background-color: #9999999;
  color : blue;
  cursor: pointer;
}

.rightSide{
  margin: 0;
  display: none;
}

.hamburger{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: auto;
  align-self: center;
  display: flex;
  align-items: right;
  justify-content: right;
  width: 100%;
}

.hamburger>li{
  display: inline-block;
    flex: 0 1 auto;
    list-style-type: none; 
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

footer>ul{
  background-color: white;
  list-style: none;
  border: 1px solid rgb(73, 72, 77);
  margin: 0;
  padding: 14px;
  overflow: auto;
  align-self: center;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 100%;
}

footer>li{
  display: inline-block;
  flex: 0 1 auto;
  list-style-type: none; 
}

.inbox{
  border: 1px solid black;
  padding: 5px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

@media(min-width: 600px) and (max-width:990px){
  .rightSide{
    display: unset;
    
  }
}

body{
  text-align: center;
}
.maincontainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.leftSide{
  flex-direction: column;
}
.middle{
  flex-direction: column;
}
.rightSide{
  flex-direction: column;
}



@media (min-width:991px){

  .hamburger{
    display: none;
  }

  .navbar>ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: auto;
    align-self: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .navbar>li{
    display: inline-block;
    list-style-type: none; 
  }

  

  .mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .leftSide{
    width: 30%;
  }
  .middle{
    width: 30%;
  }
  .rightSide{
    display: unset;
    width: 30%; 
  }
}